---
Checks: "-*,clang*,\
-clang-diagnostic-c++98*,\
-clang-diagnostic-missing-prototypes,\
-clang-diagnostic-padded,\
-clang-diagnostic-sign-conversion,\
-clang-diagnostic-shorten-64-to-32,\
-clang-diagnostic-sign-compare,\
-clang-diagnostic-implicit-fallthrough,\
-clang-diagnostic-conversion,\
-clang-diagnostic-shadow,\
-clang-diagnostic-switch-enum,\
-clang-diagnostic-unused-parameter,\
-clang-diagnostic-old-style-cast,\
-clang-diagnostic-float-equal,\
-clang-diagnostic-gnu-anonymous-struct,\
-clang-diagnostic-nested-anon-types,\
-clang-analyzer-alpha*,\
-clang-diagnostic-vla-extension,\
-clang-diagnostic-global-constructors,\
-clang-diagnostic-exit-time-destructors,\
-clang-diagnostic-missing-variable-declarations,\
-clang-diagnostic-float-conversion,\
-clang-diagnostic-documentation-unknown-command,\
-clang-diagnostic-weak-vtables,\
-clang-diagnostic-undefined-reinterpret-cast,\
-clang-diagnostic-covered-switch-default,\
-clang-diagnostic-double-promotion,\
-clang-analyzer-core.CallAndMessage,\
-clang-diagnostic-header-hygiene,\
-clang-diagnostic-mismatched-tags,\
-clang-diagnostic-used-but-marked-unused,\
-clang-diagnostic-unused-local-typedef,\
-clang-diagnostic-documentation-html,\
-clang-diagnostic-unreachable-code-return,\
-clang-analyzer-core.uninitialized.Branch,\
-clang-analyzer-core.NullDereference,\
-clang-analyzer-core.NonNullParamChecker,\
-clang-diagnostic-overlength-strings,\
-clang-analyzer-deadcode.DeadStores,\
-clang-analyzer-core.uninitialized.ArraySubscript,\
-clang-diagnostic-packed,\
-clang-analyzer-core.UndefinedBinaryOperatorResult,\
-clang-diagnostic-cast-align,\
-clang-analyzer-core.uninitialized.Assign,\
-clang-analyzer-unix.MallocSizeof,\
-clang-analyzer-unix.Malloc,\
-clang-diagnostic-disabled-macro-expansion,\
-clang-diagnostic-return-type-c-linkage,\
-clang-diagnostic-unreachable-code,\
-clang-diagnostic-class-varargs"
# Ignore warnings in gutil
HeaderFilterRegex: "be/src/\
(benchmarks\
|bufferpool\
|catalog\
|codegen\
|common\
|exec\
|experiments\
|exprs\
|resourcebroker\
|rpc\
|runtime\
|scheduling\
|service\
|statestore\
|testutil\
|thirdparty\
|transport\
|udf\
|udf_samples\
|util)"
AnalyzeTemporaryDtors: true
